<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoreQuiz</title>
    <link href="~/lib/foundation/foundation.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/css/palette.css" rel="stylesheet" />
    <link href="~/css/dashboard.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet"/>
    <link href="~/css/dripicon.css" rel="stylesheet"/>
    <link href="~/css/typicons.css" rel="stylesheet"/>
    <link href="~/css/font-awesome.css" rel="stylesheet"/>
    <link href="~/css/typicons.css" rel="stylesheet" />
    <link href="~/css/themify-icons.css" rel="stylesheet" />
    <link href="~/css/Montserrat-Hairline.css" rel="stylesheet" />
    <link href="~/css/theme.css" rel="stylesheet" />
    <!-- pace loader -->
    <script src="~/js/pace/pace.min.js"></script>
    <link href="~/js/pace/themes/orange/pace-theme-flash.css" rel="stylesheet" />
    <link href="~/js/slicknav/slicknav.css" rel="stylesheet" />
</head>
<body>
    <!-- preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- End of preloader -->
    <div class="off-canvas-wrapper over-flow-hidden">
        <div class="off-canvas-wrapper-inner " data-off-canvas-wrapper>
            <!-- left sidebar wrapper -->
            <div class="inner-wrap">
                <!-- left sidemenu -->
                <div id="skin-select">
                    <!--      Toggle sidemenu icon button -->
                    <a id="toggle"></a>
                    <!--      End of Toggle sidemenu icon button -->
                    <div class="skin-part">
                        <div id="tree-wrap">
                            <!-- Profile -->
                            <div class="profile">
                                <img alt="" class="" src="./img/yeti.svg">
                                <h3>Fondamix <small>ADMIN</small></h3>
                            </div>
                            <!-- End of Profile -->
                            <!-- Menu sidebar begin-->
                            <div class="side-bar">
                                <ul id="menu-showhide" class="topnav slicknav">
                                    <li>
                                        <a id="menu-select" class="tooltip-tip" href="index.html" title="Dashboard"> <i class="palette-Deep-Purple-700 bg ti-desktop"></i> <span>Dashboard</span> </a>
                                    </li>
                                    <li>
                                        <a class="tooltip-tip" href="#"> <i class="palette-Indigo-700 bg ti-layout"></i> <span>Layout<small class="side-menu-noft">New</small></span> </a>
                                        <ul>
                                            <li> <a href="sidebar-fixed.html">Sidebar Fixed</a> </li>
                                            <li> <a href="all-fixed.html">All Fixed</a> </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="tooltip-tip" href="#" title="Mail"> <i class="palette-Cyan-700 bg ti-paint-roller"></i> <span>Skin</span> </a>
                                        <ul>
                                            <li> <a href="blue-skin.html" title="Black Skin">Blue Skin</a> </li>
                                            <li> <a href="white-skin.html" title="White Skin">White Skin</a> </li>
                                            <li> <a href="purple-skin.html" title="Blue Skin">Purple Skin</a> </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="tooltip-tip" href="#" title="Mail"> <i class="intial palette-Blue-700 bg ti-email"></i> <span>mail</span> </a>
                                        <ul>
                                            <li>
                                                <a href="mail.html" title="Inbox">
                                                    Inbox
                                                    <div class="noft-blue bg-red">256</div>
                                                </a>
                                            </li>
                                            <li> <a href="compose.html" title="Compose">Compose</a> </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="intial palette-Blue-900 bg ti-write"></i> <span>
                                                Page&nbsp;
                                                <small class="side-menu-noft bg-blue">hot</small>
                                            </span>
                                        </a>
                                        <ul>
                                            <li> <a href="blog-list.html">Blog List</a> </li>
                                            <li> <a href="blog-detail.html">Blog Detail</a> </li>
                                            <li> <a href="gallery.html">Gallery</a> </li>
                                            <li> <a href="calendar.html" title="Calender">Calendar</a> </li>
                                            <li> <a href="master.html" title="Chart">Blank Page</a> </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="tooltip-tip" href="#" title="UI">
                                            <i class="intial palette-Teal-600 bg ti-vector"></i> <span>
                                                UI&nbsp;
                                                <small class="side-menu-noft">new</small>
                                            </span>
                                        </a>
                                        <ul>
                                            <li> <a href="element.html" title="Element">Element</a> </li>
                                            <li>
                                                <a href="button.html" title="Button">
                                                    Button
                                                </a>
                                            </li>
                                            <li> <a href="tab.html" title="Tab & Accordion">Tab & Accordion</a> </li>
                                            <li>
                                                <a href="typography.html" title="Typography">
                                                    Typography
                                                </a>
                                            </li>
                                            <li> <a href="panel.html" title="panel">Panel</a> </li>
                                            <li> <a href="grids.html" title="Grids">Grids</a> </li>
                                            <li> <a href="chart.html" title="Chart">Chart</a> </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="intial palette-Green-700 bg ti-layers-alt"></i> <span>Form&nbsp;  <small class="side-menu-noft">new</small></span> </a>
                                        <ul>
                                            <li> <a href="form-element.html" title="Form Elements">Form Elements</a> </li>
                                            <li> <a href="andvance-form.html" title="Andvance Form">Andvance Form</a> </li>
                                            <li> <a href="text-editor.html" title="Text Editor">Text Editor</a> </li>
                                            <li> <a href="file-upload.html" title="File Upload">File Upload</a> </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="intial palette-Lime-700 bg ti-harddrives"></i> <span>Tables</span> </a>
                                        <ul>
                                            <li> <a href="table-static.html" title="Table Static">Table Static</a> </li>
                                            <li> <a href="table-dynamic.html" title="Table Dynamic">Table Dynamic</a> </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class=" tooltip-tip" href="icon.html" title="Icons"> <i class="intial palette-Orange-700 bg ti-zip"></i> <span>Icons</span> </a>
                                    </li>
                                    <li>
                                        <a class="tooltip-tip" href="#" title="Extra"> <i class="palette-Pink-700 bg ti-gift"></i> <span>Extra</span> </a>
                                        <ul>
                                            <li> <a href="invoice.html" title="Invoice">Invoice</a> </li>
                                            <li> <a href="pricing_table.html" title="Pricing Table">Pricing Table</a> </li>
                                            <li> <a href="time-line.html" title="Time Line">Time Line</a> </li>
                                            <li> <a href="login.html" title="Chart">Login</a> </li>
                                            <li> <a href="map.html" title="Lock Screen">Map</a> </li>
                                            <li> <a href="404.html" title="404 Error Page">404 Error Page</a> </li>
                                            <li> <a href="500.html" title="500 Error Page">500 Error Page</a> </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <!-- end of Menu sidebar  -->
                            <!--bottom chat-->
                            <ul class="chat-list-menu">
                                <li>Direct Message (10) <i class="ti-arrow-circle-down"></i></li>
                                <li class="online"><small class="ti-control-record"></small> Themesmile (You)</li>
                                <li class="online"><small class="ti-control-record"></small> IamUcil</li>
                                <li><small class="ti-control-record"></small> Yudha</li>
                                <li><small class="ti-control-record"></small> Nady</li>
                                <li><small class="ti-control-record"></small> Andre</li>
                                <li><small class="ti-control-record"></small> Gloria</li>
                                <li class="online"><small class="ti-control-record"></small> Destya</li>
                                <li><small class="ti-control-record"></small> Yuanita</li>
                                <li><small class="ti-control-record"></small> Ari</li>
                                <li><small class="ti-control-record"></small> Dhanie</li>
                            </ul>
                            <!--end of bottom chat-->
                            <ul class="bottom-list-menu">
                                <li>Settings <small class="ti-settings"></small> </li>
                                <li>Help <small class="ti-flag-alt-2"></small> </li>
                                <li>About Edumix <small class="ti-infinite"></small> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end of Rightsidemenu -->
                <div class="wrap-fluid" id="paper-bg">
                    <!-- Top Nav -->
                    <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
                        <button class="menu-icon" type="button" data-toggle></button>
                        <div class="title-bar-title">Menu</div>
                    </div>
                    <div class="top-bar" id="example-menu">
                        <div class="top-bar-left">
                            <ul class="dropdown menu menu-profile bg-white">
                                <!-- PROFILE-->
                                <li class="bg-white"> <img alt="profile" class="admin-pic img-circle palette-Grey-900 bg" src="http://placehold.it/1800x1800"> </li>
                                <li class="bg-white">
                                    <a class="bg-white text-gray" data-toggle="profile-dropdown"> Hi, Dave Mattew </a>
                                    <div class="dropdown-pane dropdown-pane-nest profile-nest bottom" id="profile-dropdown" data-dropdown data-auto-focus="true">
                                        <ul class="menu vertical dropdown profile-dropdown">
                                            <li><a href="#"><i class="ti-user palette-Indigo-500 bg"></i> Profile<span class="text-aqua fontello-record"></span></a> </li>
                                            <li><a href="#"><i class="ti-wallet palette-Blue-700 bg"></i> Accounts</a> </li>
                                            <li><a href="#"><i class="ti-power-off palette-Light-Blue-900 bg"></i>Log Out</a> </li>
                                        </ul>
                                    </div>
                                </li>
                                <!-- end of PROFILE-->
                            </ul>
                        </div>
                        <div class="top-bar-right">
                            <ul class="dropdown vertical medium-horizontal menu bg-white" data-dropdown-menu>
                                <!-- Search | has-form wrapper -->
                                <li class="bg-white">
                                    <form class="navbar-form navbar-left" role="search">
                                        <div class="dark"></div>
                                        <input class="input-top" type="text" placeholder="search">
                                    </form>
                                </li>
                                <!-- End Of Search | has-form wrapper -->
                                <!--MESSAGE-->
                                <li class="bg-white">
                                    <a class="button bg-white float-right" data-toggle="msg-dropdown"><i class="ti-agenda palette-Pink-500 text"></i>&nbsp;<span class="label edumix-msg-noft palette-Pink-500 bg">84</span></a>
                                    <div class="dropdown-pane dropdown-pane-nest bottom" id="msg-dropdown" data-dropdown data-auto-focus="true">
                                        <ul class="menu vertical dropdown dropdown-wrap">
                                            <li>
                                                <div class="top-dropdown-nest">
                                                    <span class="label round bg-green">MESSAGE</span>
                                                    <a href="#">
                                                        <h3 class=" text-black">
                                                            Big Boss<b class="text-red fontello-record"></b><span>Just Now<small></small></span>
                                                        </h3>
                                                        <p class=" text-black">Important task! </p>
                                                    </a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="slim-scroll">
                                                    <div>
                                                        <a href="#">
                                                            <h3>
                                                                Noel A. Riley<b class="text-green fontello-record"></b><span>12:23<small>PM</small></span>
                                                            </h3>
                                                            <p>Dua dua sayang adik kakak</p>
                                                        </a>
                                                    </div>
                                                    <div>
                                                        <a href="#">
                                                            <h3>
                                                                Shirley J. Carneal<b class="text-gray fontello-record"></b><span>10:11<small>PM</small></span>
                                                            </h3>
                                                            <p>Tiga tiga sayang kekasihku</p>
                                                        </a>
                                                    </div>
                                                    <div>
                                                        <a href="#">
                                                            <h3>
                                                                Paul L. Williamsr<b class="text-gray fontello-record"></b><span>Yesterday</span>
                                                            </h3>
                                                            <p>Empat empat sayang semuanya</p>
                                                        </a>
                                                    </div>
                                                    <div>
                                                        <a href="#">
                                                            <h3>
                                                                William L. Wilcox<b class="text-gray fontello-record"></b><span>2 Days Ago</span>
                                                            </h3>
                                                            <p>Yang jomblo kasian deh lu</p>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="active right">
                                                <a href="#">
                                                    <div class="label bg-white">More...</div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <!--end of MESSAGE-->
                                <!--NOTIFICATION-->
                                <li class="bg-white">
                                    <a class="button bg-white float-right" data-toggle="notf-dropdown"><i class="ti-bell  palette-Purple-500 text"></i> <span class="label edumix-noft palette-Purple-500 bg">45</span></a>
                                    <div class="dropdown-pane dropdown-pane-nest bottom" id="notf-dropdown" data-dropdown data-auto-focus="true">
                                        <ul class="menu vertical dropdown dropdown-wrap">
                                            <li>
                                                <div class="top-dropdown-nest">
                                                    <span class="label round bg-blue">ALERT</span>
                                                    <a href="#">
                                                        <h3 class="text-black">Sticky Very Important<span class="text-red fontello-record"></span></h3>
                                                        <p class="text-black">1 minute ago</p>
                                                    </a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="slim-scroll">
                                                    <div>
                                                        <i class="ti-comments-smiley"></i>
                                                        <a href="#">
                                                            <h3>
                                                                Announcements <span class="text-green fontello-record"></span>
                                                            </h3>
                                                            <p>Just Now !</p>
                                                        </a>
                                                    </div>
                                                    <div>
                                                        <i class=" fontello-attach-1"></i>
                                                        <a href="#">
                                                            <h3>
                                                                Complete your profile<span class="text-yellow fontello-record"></span>
                                                            </h3>
                                                            <p>2 Minute Ago</p>
                                                        </a>
                                                    </div>
                                                    <div>
                                                        <i class=" fontello-calendar-1"></i>
                                                        <a href="#">
                                                            <h3>
                                                                New Schedule Realease<span class="text-yellow fontello-record"></span>
                                                            </h3>
                                                            <p>30 Minute ago</p>
                                                        </a>
                                                    </div>
                                                    <div>
                                                        <i class="fontello-database-1"></i>
                                                        <a href="#">
                                                            <h3>
                                                                New Student Data<span class="text-orange fontello-record"></span>
                                                            </h3>
                                                            <p>1 Hour ago</p>
                                                        </a>
                                                    </div>
                                                    <div>
                                                        <i class="fontello-graduation-cap"></i>
                                                        <a href="#">
                                                            <h3>
                                                                Graduate Student List<span class="fontello-record"></span>
                                                            </h3>
                                                            <p>2 Days ago</p>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <!--end of NOTIFICATION-->
                                            <li class="active right">
                                                <a href="#">
                                                    <div class="label bg-white">More...</div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="bg-white"><a class="bg-white" data-toggle="offCanvas"><i class=" text-black ti-menu"></i></a></li>
                            </ul>
                            <!-- Right Nav Section -->
                        </div>
                    </div>
                    <!-- end of Top Nav -->
                    <!-- breadcrumbs -->
                    <!--    <ul class="breadcrumbs">
                    <li><a href="#"><span class="entypo-home"></span></a> </li>
                    <li>Dashboard </li>
                    </ul>-->
                    <!-- end of breadcrumbs -->
                    <!-- Container Begin -->
                    <div class="top-main-fondamix">
                        <!-- Begin page content -->
                    </div>
                    <div class="row">
                        @RenderBody()
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <div class="box box-no-shadow bg-widget-random">
                                <!-- /.box-header -->
                                <div class="box-header bg-transparent">
                                    <h3 class="box-title">
                                        <i class="text-white ti-rss-alt"></i>
                                        <span class="text-white ">LASTEST REPORT</span>
                                    </h3>
                                </div>
                                <div class="box-body">
                                    <div class="stats-wrap">
                                        <h2><b class="counter-up text-white">65,800,587</b> <span>+<b class="counter-up">20</b>%</span></h2>
                                        <p class="text-grey">Total students<small>This Year</small> </p>
                                        <h4><b class="counter-up text-white">1,204</b> <span>+<b class="counter-up">5</b>%</span></h4>
                                        <p>Graduate <small>This week</small> </p>
                                        <h4 class="text-white"><b class="counter-up">2,690</b> <span>+<b class="counter-up">12,5</b></span></h4>
                                        <p>New students<small>This Month</small> </p>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!--USER-->
                            <!--Page Views-->
                            <div class="row">
                                <div class="large-6 columns">
                                    <!--New User-->
                                    <div class="box palette-Yellow-800 bg">
                                        <div class="box-header  palette-Yellow-800 bg">
                                            <!-- tools box -->
                                            <div class="pull-right text-white box-tools">
                                                <span class="text-white box-btn">
                                                    <i class="circle-nest-medium ti-user"></i>
                                                </span>&nbsp;&nbsp;&nbsp;
                                            </div>
                                            <h3 class="box-title">
                                                <span class="text-white">&nbsp;&nbsp;&nbsp;NEW USER</span>
                                            </h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="row">
                                            <div class="events-nest ">
                                                <div class="wrap-no-pad text-white">
                                                    <h1 class="text-white"><b class="counter-up-fast">390</b></h1> <span>Users</span>
                                                    <p>65%</p>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!--end of New User-->
                                </div>
                                <div class="large-6 columns">
                                    <!--facebook-->
                                    <div class="box palette-Cyan-400 bg">
                                        <div class="box-header  palette-Cyan-400 bg">
                                            <!-- tools box -->
                                            <div class="pull-right text-white box-tools">
                                                <span class="text-white box-btn">
                                                    <i class="circle-nest-medium ti-stats-up"></i>
                                                </span>&nbsp;&nbsp;&nbsp;
                                            </div>
                                            <h3 class="box-title">
                                                <span class="text-white">&nbsp;&nbsp;&nbsp;PAGE VIEWS</span>
                                            </h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="row">
                                            <div class="events-nest ">
                                                <div class="wrap-no-pad text-white">
                                                    <h1 class="text-white"><b class="counter-up-fast">294</b></h1> <span>Users</span>
                                                    <p>65%</p>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!--end of facebook-->
                                </div>
                            </div>
                            <!--End Of Page Views-->
                            <!--end of USER-->
                            <!-- CHART ITEM-->
                            <div class="box box-no-shadow bg-transparent ">
                                <!-- /.box-header -->
                                <div class="box-header no-pad bg-transparent">
                                    <h3 class="box-title">
                                        <span>ACTIVE STUDENTS</span>
                                    </h3>
                                </div>
                                <div class="box-body no-pad">
                                    <div id="line-chart" class="chart-height-wrap"></div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- end of CHART ITEM-->
                            <!--Account-->
                            <div class="your-account">
                                <div class="row">
                                    <div class="medium-3 columns">
                                        <div class="circlestat" data-dimension="90" data-text="55%" data-width="10" data-fontsize="16" data-percent="55" data-fgcolor="#CDDC39" data-border="10" data-bgcolor="#eee" data-fill="#FFF"></div>
                                    </div>
                                    <div class="medium-9 columns ">
                                        <div>
                                            <h4>Overall stats of sales and distribution</h4>
                                            <h6>You must <strong>complete</strong> this issues.</h6>
                                            <ul>
                                                <li><i class="text-white palette-Orange-700 bg ti-pie-chart"></i> 2.789</li>
                                                <li><i class="text-white palette-Pink-700 bg ti-stats-down"></i>4.365</li>
                                                <li><i class="palette-Cyan-700 bg text-white ti-bar-chart"></i>9.860 </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End of Account-->
                            <!--MAP ITEM-->
                            <div class="box no-shadow ">
                                <div class="box-header bg-transparent">
                                    <!-- tools box -->
                                    <div class="pull-right box-tools">
                                        <span class="box-btn" data-widget="collapse">
                                            <i class="icon-minus"></i>
                                        </span> <span class="box-btn" data-widget="remove">
                                            <i class="icon-cross"></i>
                                        </span>
                                    </div>
                                    <h3 class="box-title">
                                        <i class="ti-location-pin"></i>
                                        <span>MAPS</span>
                                    </h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body no-pad">
                                    <!-- Gmap-->
                                    <div id="test" class="gmap3"></div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- end of MAP ITEM-->
                        </div>
                        <!--End of Right Side-->
                        <div class="large-6 columns">
                            <!--facebook-->
                            <div class="box palette-Blue-800 bg">
                                <div class="box-header  palette-Blue-800 bg">
                                    <!-- tools box -->
                                    <div class="pull-right text-white box-tools">
                                        <span class="box-btn ">
                                            <i class="circle-nest ti-comment-alt"></i>
                                        </span> <span class="text-white box-btn">
                                            <i class="circle-nest ti-user"></i>
                                        </span> <span class="text-white box-btn">
                                            <i class="circle-nest ti-world"></i>
                                        </span>
                                    </div>
                                    <h3 class="box-title">
                                        <i class="text-white circle-nest-medium ti-facebook"></i>
                                        <span class="text-white">FACEBOOK</span>
                                    </h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="row">
                                    <div class="events-nest ">
                                        <div class="wrap-no-pad text-white">
                                            <h1 class="text-white"><img alt="profile" class="img-circle palette-Grey-900 bg" src="http://placehold.it/1800x1800"></h1> <span>Alif Mubarok</span>
                                            <p>
                                                Monday <i class="fontello-record"></i> Nov 2016
                                                <br>With what mingled joy the pen to write to my dearest friend!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!--end of facebook-->
                            <!--twitter-->
                            <div class="box palette-Blue-500 bg">
                                <div class="box-header  palette-Blue-500 bg">
                                    <!-- tools box -->
                                    <div class="pull-right text-white box-tools">
                                        <span class="box-btn ">
                                            <i class="circle-nest ti-heart"></i>
                                        </span> <span class="text-white box-btn">
                                            <i class="circle-nest ti-email"></i>
                                        </span> <span class="text-white box-btn">
                                            <i class="circle-nest ti-reload"></i>
                                        </span>
                                    </div>
                                    <h3 class="box-title">
                                        <i class="text-white circle-nest-medium ti-twitter-alt"></i>
                                        <span class="text-white">TWITTER</span>
                                    </h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="row">
                                    <div class="events-nest ">
                                        <div class="wrap-no-pad text-white">
                                            <h1 class="text-white"><img alt="profile" class="img-circle palette-Grey-900 bg" src="http://placehold.it/1800x1800"></h1> <span>Alif Mubarok</span>
                                            <p>
                                                Monday <i class="fontello-record"></i> Nov 2016
                                                <br>With what mingled joy the pen to write to my dearest friend!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!--end of twitter-->
                            <!--SUMMARY-->
                            <div class="box box-no-shadow">
                                <!-- /.box-header -->
                                <div class="box-body ">
                                    <div class="row summary-border-top">
                                        <div class="large-6 columns">
                                            <div class="summary-nest">
                                                <h2 class="text-black "><span class="counter-up">276.747</span><small class="palette-Orange-700 bg">K</small></h2>
                                                <p>Sales</p>
                                            </div>
                                        </div>
                                        <div class="large-6 columns summary-border-left">
                                            <div class="summary-nest">
                                                <h2 class="text-black"><span class="counter-up">3.219</span><small class="palette-Pink-500 bg">K</small></h2>
                                                <p>Man</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="large-6 columns">
                                            <div class="summary-nest summary-pad-nest"> <span class="text-center"><canvas height="70" width="70" id="partly-cloudy-day"></canvas></span> </div>
                                        </div>
                                        <div class="large-6 columns">
                                            <div class="summary-nest summary-pad-nest">
                                                <h4 class="text-left"><span class="counter-up">05</span>/<span class="counter-up">12</span>/<span class="counter-up">2014</span></h4>
                                                <p class="text-left">Today</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row summary-border-bottom">
                                        <div class="large-6 columns">
                                            <div class="summary-nest summary-pad-nest">
                                                <h2 class="text-black "><span class="counter-up">82</span><small class="palette-Lime-500 bg ">%</small></h2>
                                                <p>Avarage Sales</p>
                                            </div>
                                        </div>
                                        <div class="large-6 columns summary-border-left">
                                            <div class="summary-nest summary-pad-nest">
                                                <h2 class="text-black"><span class="counter-up">24</span><small class="palette-Teal-500 bg ">th</small></h2>
                                                <p>Overall Rank</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end .timeline -->
                            </div>
                            <!--end of SUMMARY-->
                            <!-- Even Item -->
                            <div class="box no-shadow">
                                <div class="box-header bg-transparent">
                                    <!-- tools box -->
                                    <div class="pull-right box-tools ">
                                        <span class="box-btn" data-widget="collapse">
                                            <i class="icon-minus"></i>
                                        </span> <span class="box-btn" data-widget="remove">
                                            <i class="icon-cross"></i>
                                        </span>
                                    </div>
                                    <h3 class="box-title ">
                                        <i class="palette-Teal-400 text ti-notepad"></i>
                                        <span>LAST POST</span>
                                    </h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div class="events-nest">
                                        <div class="text-white lastest-post-nest">
                                            <div>
                                                <small class="palette-Teal-400 bg">NY</small>
                                                <h4>Pink and Blue: Coloring Inside the Lines of Gender</h4> <span><i class="ti-eye"></i> 121</span> <span><i class="ti-thumb-up"></i>45</span> <span><i class="ti-comment-alt"></i> 8</span>
                                            </div>
                                        </div>
                                        <ul>
                                            <li>
                                                <h4><span>Mike Nikolson</span><small>2 Minute</small></h4>
                                                <h3>How Science Is Helping Us Understand Gender</h3>
                                                <hr>
                                            </li>
                                            <li>
                                                <h4><span>Mark Jorgensen</span><small>1 hours</small></h4>
                                                <h3>The Best Maps of 2016</h3>
                                                <hr>
                                            </li>
                                            <li>
                                                <h4><span>Mark Jorgensen</span><small>1 Days</small></h4>
                                                <h3>Winter Solstice Is Coming—Year’s Shortest Day Explained</h3>
                                                <hr>
                                            </li>
                                            <li>
                                                <h4><span>Mark Jorgensen</span><small>1 Month</small></h4>
                                                <h3>Inside America’s Shocking WWII Propaganda Machine</h3>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- End of Even Item -->
                        </div>
                        <!--End of Right Side-->
                    </div>
                    <!-- Widget  -->
                    <div class="row">
                        <div class="large-4 columns"> </div>
                        <!-- /.box -->
                    </div>
                    <!-- End of Widget  -->
                    <footer>
                        <div id="footer">Copyright &copy; 2017 <a href="http://themeforest.net/user/Themesmile">Themesmile</a></div>
                    </footer>
                </div>
                <!-- End of Container Begin -->
                <!-- Right Menu -->
                <div class=" bg-transparent off-canvas position-right" id="offCanvas" data-off-canvas data-position="right">
                    <!-- Close button -->
                    <button class="close-button" aria-label="Close menu" type="button" data-close> <span aria-hidden="true">&times;</span> </button>
                    <div class="off-canvas-content" data-off-canvas-content>
                        <!-- Menu -->
                        <ul class="nav navbar-stacked ">
                            <li><a href="#"><span class="palette-Black-100 bg ti-menu-alt"></span>Notifications</a></li>
                            <li><a href="#"><span class="palette-Deep-Purple-100 bg ti-menu-alt"></span><i class="ti-more-alt"></i><span class="palette-Deep-Purple-200 bg ti-shopping-cart-full"></span><i class="ti-more-alt"></i><span class="palette-Deep-Purple-400 bg ti-gift"></span><i class="ti-more-alt"></i><span class="palette-Deep-Purple-600 bg ti-truck"></span><i class="ti-more-alt"></i><span class="palette-Deep-Purple-800 bg ti-home"></span>Shipping proses of <strong>Robert Langdon</strong> is completed!<small>1m</small></a></li>
                            <li><a href="#"><span class="palette-Blue-A100 bg ti-user"></span>Meet new user <strong>Lilian Meirs</strong><small>23m</small></a></li>
                            <li><a href="#"><span class="palette-Red-A400 bg ti-cloud-down"></span><strong>Robert</strong> added new request for ne item for refund<small>34m</small></a></li>
                            <li><a href="#"><span class="palette-Orange-200 bg ti-menu-alt"></span><i class="ti-more-alt"></i><span class="palette-Orange-400 bg ti-shopping-cart-full"></span><i class="ti-more-alt"></i><span class="palette-Orange-600 bg ti-gift"></span><br>Shipping proses of <strong>Robert Langdon</strong> is completed!<small>40m</small></a></li>
                            <li>
                                <a href="#">
                                    <span class="palette-Amber-500 bg ti-comment-alt"></span>Mike Nilson commented Post<br>
                                    Like this one! Keep going!<small>50m</small>
                                </a>
                            </li>
                            <li><a href="#"><span class="palette-Cyan-300 bg ti-shopping-cart-full"></span>Amazing! <strong>Mike Nilson</strong> just purchased Your item <small>1h</small></a></li>
                            <li><a href="#"><span class="palette-Light-Green-500 bg ti-image"></span><strong>Lilian Meirs</strong> Posting new image cover, and just got 2.000 likes<br><img alt="" src="http://placehold.it/2000x2000"><small>1h 12m</small></a></li>
                            <li>
                                <a href="#">
                                    <span class="palette-Amber-500 bg ti-comment-alt"></span>Mike Nilson commented Post<br>
                                    Like this one! Keep going!<small>1h 39</small>
                                </a>
                            </li>
                            <li><a href="#"><span class="palette-Cyan-300 bg ti-shopping-cart-full"></span>Amazing! <strong>Mike Nilson</strong> just purchased Your item<br><img alt="" src="http://placehold.it/2000x2000"> <small>1h 45m</small></a></li>
                            <li><a href="#"><span class="palette-Cyan-300 bg ti-shopping-cart-full"></span>Amazing! <strong>Mike Nilson</strong> just purchased Your item <small>23m</small></a></li>
                            <li>
                                <a href="#">
                                    <span class="palette-Amber-500 bg ti-comment-alt"></span>Mike Nilson commented Post<br>
                                    Like this one! Keep going!<small>2h</small>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End of Right Menu -->
            </div>
            <!-- end paper bg -->
        </div>
    </div>
    <!-- end of off-canvas-wrap -->
    <!-- end of inner-wrap -->
    <!-- main javascript library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/waypoints.min.js"></script>
    <script type='text/javascript' src='~/js/preloader-script.js'></script>
    <!-- foundation javascript -->
    <script src="~/js/what-input.js"></script>
    <script type='text/javascript' src="~/js/foundation.min.js"></script>
    <!-- main edumix javascript -->
    <script type="text/javascript" src="~/js/slimscroll/jquery.slimscroll.js"></script>
    <script type="text/javascript" src="~/js/slicknav/jquery.slicknav.js"></script>
    <script type="text/javascript" src="~/js/sliding-menu.js"></script>
    <script type="text/javascript" src="~/js/scriptbreaker-multiple-accordion-1.js"></script>
    <script type="text/javascript" src="~/js/number/jquery.counterup.min.js"></script>
    <script type="text/javascript" src="~/js/circle-progress/jquery.circliful.js"></script>
    <script type="text/javascript" src="~/js/app.js"></script>
    <!-- additional javascript -->
    <script type="text/javascript" src="~/js/number-progress-bar/jquery.velocity.min.js"></script>
    <script type="text/javascript" src="~/js/number-progress-bar/number-pb.js"></script>
    <script type="text/javascript" src="~/js/loader/loader.js"></script>
    <script type="text/javascript" src="~/js/loader/demo.js"></script>
    <!-- FLOT CHARTS -->
    <script type="text/javascript" src="~/js/flot/jquery.flot.js"></script>
    <!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
    <script type="text/javascript" src="~/js/flot/jquery.flot.resize.min.js"></script>
    <!-- FLOT PIE PLUGIN - also used to draw donut charts -->
    <script type="text/javascript" src="~/js/flot/jquery.flot.pie.min.js"></script>
    <!-- FLOT CATEGORIES PLUGIN - Used to draw bar charts -->
    <script type="text/javascript" src="~/js/flot/jquery.flot.categories.min.js"></script>
    <script type="text/javascript" src="~/js/skycons/skycons.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHt7vrI9b3Ze5nGXaCPrlaBzR-Saqg4G8"></script>
    <script type='text/javascript' src="~/js/gmap/gmap3.js"></script>
    @*<script type='text/javascript' src="~/js/pages/dashboard.js"></script>*@
    @RenderSection("scripts", required: false)

    <script>
        $(document).foundation();
    </script>
</body>

</html>